body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15vw;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#button {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#button button {
    font-size: 10vw;
    padding: 3vh 6vw;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button:hover {
    background-color: #0056b3;
}

@media (min-width: 768px) {

    body,
    html {
        font-size: 8vw;
    }

    .content {
        font-size: 4vw;
    }

    #button button {
        font-size: 5vw;
        padding: 2vh 4vw;
    }
}
