body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

p {
    margin: 20px;
    color: #343a40;
}

video {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    display: block;
    width: calc(100% - 40px);
    margin: 20px auto;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}