body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

#wkname {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px 0;
    color: #343a40;
}

#history {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table th,
table td {
    padding: 12px 15px;
    text-align: left;
}

table th {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #e9ecef;
}

table td {
    border-bottom: 1px solid #dee2e6;
}

h5 {
    margin-top: 20px;
    color: #007bff;
    font-size: 1.25rem;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}